{% extends "base_generic.html" %}
	
	{% block style %}
		<style>
			.addBookForm
			{
				font-family: 'Oswald'; 
				letter-spacing: 1px;
				
				margin-top: 10px;
				margin-bottom: 0px;
				margin-right: 150px;
				margin-left: 80px;
			}
			
			.submit
			{
				font-family: 'Spectral SC';
			}
			
			label{
				font-family: 'Spectral SC';
				background-color: #633974;  
				margin-right: 10px;
			}
			
			td
			{
				padding-top: .5em;
                padding-bottom: .5em;
			}
			
			.left 
			{
				width: 28%;
				float: left;
				text-align: left;
			}
			
			.right
			{
				width: 70%;
				margin-left: 10px;
				float:left;
			}
			
			body{
				font-family: 'Spectral SC';
				background-color: #633974;  
			}
			footer {
		      background-color: #555;
		      color: white;
		      padding: 15px;
		    }
		</style>
	{% endblock %}

	{% block title %}
    	<title>BookSwap | Add Book</title>
  	{% endblock %}

	{% block content %}

	    <form class=addBookForm action="" method="post">
	        {% csrf_token %}
	        <table>
	        	<tr>
					<td> <label> Title: </label> </td>
					<td> {{ form.title }}</td>
				</tr>
				<tr>
					<td> <label> Author's First Name: </label> </td>
					<td> {{ form.author_first }}</td>
				</tr>
				<tr>
					<td> <label> Author's Last Name: </label> </td>
					<td> {{ form.author_last }}</td>
				</tr>
				<tr>
					<td> <label> Condition: </label> </td>
					<td> {{ form.condition }}</td>
				</tr>
				<tr>
					<td> <label> Genre: </label> </td>
					<td> {{ form.genre }}</td>
				</tr>
				<tr>
					<td> <label> College Class? (If no Leave Blank): </label> </td>
					<td> {{ form.for_class }}</td>
				</tr>
	        </table>
			
			<div>
			<div class ="left">
				<label> Comments (Optional): </label>
			</div>				
			<div class="right">
				{{ form.comments }}
			</div>
			</div>
			
	        <input class=submit type="submit" value="Submit" />
	    </form>

		<div class="row">
			<div class="col-md-12" id="cancelBtnWrap">
				<a href="{% url 'profileSelf' %}" id="cancelBtn">Cancel</a>
			</div>
		</div>
	{% endblock %}


