{% extends "base_generic.html" %}

	{% block style %}
	<style>
	body
	{
		font-family: 'Spectral SC';
		background-color: #633974;  
	}

	h2
	{
		color: white;
		text-align: center;
	}

	.btn-danger
	{
		margin-left: 20px;
		border-radius: 49%;
	}

	.input-group
	{
		margin-left: 100px;
	}

	.jumbotron
	{
		font-family: 'Graduate';
		background-color: #D0D3D4;
		/*background-color: #C39BD3;*/  	
	}

	.navbar-brand, .navbar-nav li a 
	{
    	font-size: 1.2em;
	}

	footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

	.panel-body img
	{
		height: 400px;
	}
	</style>
	{% endblock %}

		{% block content %}
		<div class = "jumbotron text-center">
			<h1>College BookSwap</h1>
			<form class="form-inline">
    		<div class="input-group">
      			<input type="search" class="form-control" size="50" placeholder="Find Books Near Me" required>
	      		<div class="input-group-btn">
	        		<button type="button" class="btn btn-success">Search</button>
	      		</div>
    		</div>
    		<a href="{% url 'profileOther' %}" class="btn btn-danger">Advanced</a> 
    		<!-- fix this!! -->
  			</form>
		</div>

		<div class="container">
			<h2> Recommended for you </h2><br>
		    <div class="row">
			    <div class="col-sm-4">
			        <div class="panel panel-primary">
				        <div class="panel-heading">A First Course in Numerical Methods</div>
				        {% load static %}
				        <div class="panel-body"><img src="{% static 'images/Math551.jpg' %}" class="img-responsive" style="width:100%" alt="Numerical_Methods"></div>
				        <div class="panel-footer">Course Subject: Mathematics</div>
			        </div>
			    </div>
			    <div class="col-sm-4"> 
			        <div class="panel panel-danger">
				        <div class="panel-heading">Algorithm Design</div>
				        {% load static %}
				        <div class="panel-body"><img src="{% static 'images/CS311.jpg' %}" class="img-responsive" style="width:100%" alt="Algorthm_Design"></div>
				        <div class="panel-footer">Course Subject: Computer Science</div>
			        </div>
			    </div>
			    <div class="col-sm-4"> 
			        <div class="panel panel-success">
				        <div class="panel-heading">Abstract Algebra</div>
				        {% load static %}
				        <div class="panel-body"><img src="{% static 'images/Math411.jpg' %}" class="img-responsive" style="width:100%" alt="Abstract_Algebra"></div>
				        <div class="panel-footer">Course Subject: Mathematics</div>
			        </div>
			    </div>
		    </div>
		</div><br>
		{% endblock %}