{% extends "base_generic.html" %}

{% block title %}
    <title>BookSwap | My Profile</title>
{% endblock %}

{% block style %}
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    body {
      background-color: #633974;  
    }
  </style>
  {% endblock %}

{% block content %}
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <h2 style="color: black">{{user.first_name}} {{user.last_name}}</h2>
        <p>My Profile</p>
        
      </div>
      <div class="well">
        <h3>Books I Want</h3>
        
        <nav>
        	<ul>
       		{% for book in booksWant %}
        	
          		<li>{{book.title}}</li>
                
        	{% endfor %}
    		</ul>
       </nav>
      </div>
      <div>
        <button type=button>Add title</button>
      </div>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="false">
              	<strong>College/University:</strong> {{user.university}}<br>
              	<strong>About me:</strong> {{user.bio}}<br>
              </p>
              <button type="button" class="btn btn-default btn-sm">
                 Edit
              </button>     
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
       <div class="col-sm-12">
	       <div class="well">
	       	 <h2 style="color: black">Books I Have</h2>
           <a href="{% url 'addBook' %}" class="btn btn-primary">Add Book</a> 
	       </div>
	   </div>

	   {% for inst in booksOffer %}   
       <div class="col-sm-3">
		    	
          <div class="well">
           <p>{{inst.book.title}}</p>
           <!-- img placeholder -->
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p class="text-left"><Strong>Author:</Strong> {{inst.book.author}}<br>
  			   <Strong>Condition:</Strong> {{inst.book_condition}}/5<br>
  			 <!--   <Strong>My Rating:</Strong> 5/5<br> -->
  			   <Strong>Comments:</Strong> {{inst.comment}}
            </p>
          </div>
        </div>
      
 
      {% endfor %}
      
         
    </div>
    
  </div>
  <div class="col-sm-2 well">
        <div class="thumbnail">
          <p>Recommended:</p>
          <img src="images/MobyDick.jpg" alt="Book" width="400" height="300">
          <p><strong>{{recommended.title}}</strong></p>
          <p>{{num_postings}} Postings</p>
          <a href="{% url 'browse' %}" class="btn btn-primary">See Offers</a> <!-- this needs fixing -->
        </div> 
        <div class="thumbnail">
          {% load static %}
          <img src="{% static 'images/FakeAd1.jpg' %}" alt="Ad" width="400" height="300">
        </div>             
        <div class="thumbnail">
          <img src="{% static 'images/FakeAd2.jpg' %}" alt="Ad" width="400" height="300">
        </div>  
      </div>
</div>
{% endblock %}

